node_modules
node_modules/
*/node_modules
*/node_modules/
*/*/node_modules
*/*/node_modules/
*/*/*/node_modules
*/*/*/node_modules/
.git/
.git
dist/
dist
.vite/
.vite
*.tsbuildinfo
*.log
.env
.env.local
.DS_Store
loopat-data/
loopat-data
server/src/*.js
server/src/*.js.map
